
<td>"category"</td>
<td>"basketlines"</td>
id_product:<input type="number"[(ngModel)]="prod.id_product"/>
<br>
designation:<input type="text"[(ngModel)]="prod.designation"/>
<br>
brand:<input type="text"[(ngModel)]="prod.brand"/>
<br>
price:<input type="number"[(ngModel)]="prod.price"/>
<br>

quantity:<input type="number"[(ngModel)]="prod.quantity"/>
<br>
short_Description:<input type="text"[(ngModel)]="prod.short_Description"/>
<br>
long_Description:<input type="text"[(ngModel)]="prod.long_Description"/>
<br>
picture_Path:<input type="text"[(ngModel)]="prod.picture_Path"/>
<br>


<p> <button (click)="addProduct()">Add</button>
